/* General Styles */
p {
  font-size: 16px;
  color: #262626;
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.main-heading {
  color: rgb(68, 158, 243);
  font-size: 25px;
}

.underline {
  height: 4px;
  /* Fixed height */
  width: 4rem;
  background-color: rgb(214, 118, 9);
  margin-top: 10px;
  margin-bottom: 10px;
}

.bg-c-light {
  background-color: #f2f2f2;
}

.slim-slider .carousel-item {
  height: 100%;
}

.slim-slider .carousel-item img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.py-4 {
  background-color: skyblue;
}

.slim-slider {
  height: 100%;
  overflow: hidden;
}

@media (max-width: 700px) {
  .slim-slider {
    margin-bottom: 5px;
  }
}

/* Footer Styles */
.footer {
  background-color: #343a40;
  /* Dark background */
  color: #e9ecef;
  /* Light text color */
  padding: 40px 0;
  /* Padding for top and bottom */
}

.footer .footer-heading {
  font-weight: bold;
  font-size: 1.25rem;
  color: yellow;
}

.footer .footer-divider {
  border-color: #495057;
  /* Lighter border color */
}

.footer .footer-text {
  color: #e9ecef;
  /* Light text color */
}

.footer a {
  color: rgb(212, 13, 136);
  text-decoration: none;
}

.footer a:hover {
  color: rgb(214, 167, 38);
}